
* { 
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


header {
    position: fixed;
    top: 0;
    background-color: rgba(255, 19, 19, 0.815);
    width: 100%;
    height: 100px;
    z-index: 10;
}

header h1 {
    color: rgb(255, 255, 255);
}

li {
    color: rgb(255, 255, 255);
}


nav ul {
    gap: 20px;
    display: flex;
    list-style: none;
}

img {
    width: 100%;
    display: block;
}

.container1, .container2 {
    height: 700px;
    display: block;
    position: relative;
}

.container1 img,
.container2 img {
    width: 100%;
    height: 100%;      
    object-fit: cover;  
    display: block;
}

.cta1, .cta2 { 
    position: absolute;
    bottom: 150px;
    left: 8%;
    padding: 60px;
    background-color: rgba(255, 255, 255, 0.815);
    width: 300px;
    justify-items: left;
    z-index: 2;
}



/* button {
    padding: 5%;
    width: 150px;
} */



