* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


header { 
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

    z-index: 1;
}

nav {
    display: flex;
}


.navcontainer {
    display: flex;
    position: fixed;
    justify-content: space-between;

    padding: 30px;
    background-color: rgb(0, 0, 0, 0.8);
    height: 80px;
    width: 100%;
    
}

.logo {
    
    position: absolute;

    left: 50px;
    top: 20px;


    width: 100px;
    height: 100px;
}


.logo { 


    background-image: url(https://www.freepnglogos.com/uploads/ghost-png/creepy-ghost-svg-png-icon-download-24.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    filter:invert(1)

}

.navlinks {
    display: flex;
    padding-right: 50px;

    
    gap: 70px;
}

nav a {
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: antiquewhite;
}

nav a:hover {
    color: rgb(255, 0, 51);
}


.imgcontainer {

    position: relative;
    display: flex;
    height: 700px;
}



.imgcontainer {
    background-size: cover; 
    background-repeat: no-repeat;

    
    /* z-index: 1; */
}

.img1 {
    background-image: url(https://images6.alphacoders.com/715/715340.png);}

.img2 {
    background-image: url(https://cdn.wallpapersafari.com/2/13/AZl53M.jpg);}

.img3 {
    background-image: url(https://cdn.pixabay.com/photo/2022/10/09/02/16/haunted-house-7508035_640jpg);}



.cta1-container {

    display: flex;
    flex-direction: column;

    position: absolute;

    height: 200px;
    width: 400px;

    bottom: 140px;
    left: 50px;

    background-color: rgb(0, 0, 0, 0.5);
}

.cta2-container {

    display: flex;
    flex-direction: column;

    position: absolute;
    z-index: 1;

    height: 200px;
    width: 400px;

    bottom: 140px;
    left: 50px;

    background-color: rgb(0, 0, 0, 0.5);


}

.text {

    justify-content: space-between;
    font-size: 12px;
    color: antiquewhite;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 30px;
    
}

h1 {
    font-size: 30px;

}

button {

    border: none;
    height: 40px;
    width: 100px;

    cursor: pointer;
}

button:hover {
    background-color: rgb(255, 0, 51);
}

.myBtn {
    justify-content: flex-end;
}


footer {
    height: 300px;

    background-color: black;
}