* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}



header { 
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

    z-index: 1;
}

nav {
    display: flex;
}


.navcontainer {
    display: flex;
    position: fixed;
    justify-content: space-between;

    padding: 30px;
    background-color: rgb(0, 0, 0, 0.8);
    height: 80px;
    width: 100%;

    
    
}

.logo {
    transition: opacity 125ms ease-in-out;
    opacity: 1;
}


.logo {
    position: absolute;

    transition: opacity 125ms ease-in-out;
    opacity: 1;

    left: 50px;
    top: 20px;

    width: 100px;
    height: 100px;
}


.logo { 
    background-image: url(https://www.freepnglogos.com/uploads/ghost-png/creepy-ghost-svg-png-icon-download-24.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    filter:invert(1)

}

.navlinks {
    display: flex;
    padding-right: 50px;

    
    gap: 70px;
}

nav a {
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: antiquewhite;
    letter-spacing: 0.3px;
}

nav a:hover {
    color: rgb(255, 0, 51);
}


/* .search-container {
    display: flex;    
    position: fixed;

    align-items: center;

    width: 190px;
    height: 30px;

    background-color:rgba(0, 0, 0, 0.5);
    border: 3px solid black;
    border-radius: 100px;

    left: 50px;
    top: 70px;

    overflow: hidden;
} */


.search-container {
    display: flex;
    position: relative;
    align-items: center;
}

.search {
    display: flex;
    position: absolute;
    align-items: center;
    border-radius: 0px;
    background-color: black;
    font-size: 12px;
}


.imgcontainer {
    display: flex;
    position: relative;

    justify-content: center;
    align-items: center;

    height: 700px;
}

.imgcontainer {
    background-size: cover; 
    background-repeat: no-repeat;

}

.img1 {
    background-image: url(https://images6.alphacoders.com/715/715340.png);}

.img2 {
    background-image: url(https://cdn.wallpapersafari.com/2/13/AZl53M.jpg);}

.img3 {
    background-image: url(https://cdn.pixabay.com/photo/2022/10/09/02/16/haunted-house-7508035_640.jpg);}

.cta {
    padding: 30px;
    display: flex;
    flex-direction: column;
    
}

.cta1-container {

    position: absolute;
    justify-content: space-evenly;
   

    height: 240px;
    width: 400px;
    gap: 12px;
    bottom: 140px;
    left: 50px;

    background-color: rgb(0, 0, 0, 0.5);
}


.cta2 {
    position: relative;
    display: flex;
    flex-direction: column 0px;
    justify-content: space-between;
    gap: 20px;

    text-align: center;

}

.cta2-container {
    padding: 40px;
    display: flex;
    position: absolute;
    align-items: center;


    /* width: 1000px;
    height: 300px; */

    background-color: rgb(0, 0, 0, 0.5);

}

.beware {
    font-size: 80px;
    color: antiquewhite;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.yesnoBtn {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;

}

.cta2btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 12px;
    color: antiquewhite;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}








.cta3-container {

    display: flex;
    flex-direction: column;

    position: absolute;
    /* z-index: 1; */

    height: 200px;
    width: 400px;

    bottom: 140px;
    left: 50px;

    background-color: rgb(0, 0, 0, 0.5);


}



h1 {
    font-size: 30px;

}

button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.3px;
    background-color:antiquewhite;
    /* border-color: antiquewhite;
    border-style: solid; */
    height: 40px;
    width: 100px;

    cursor: pointer;
}

button:hover {
    background-color: rgb(255, 0, 51);
    
}

/* .myBtn {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.3px;
} */



footer {
    height: 300px;

    background-color: black;
}